.content {
  padding: 50px;
  background-color: rgba(255, 255, 255, 0.95);
}
.content:nth-child(2) .col-md-6, .col-sm-12 {
  padding-left: 0;
  padding-right: 0;
}
.ca_social>a i {
  background-color: rgba(0, 0, 0, 0.5);
  border-radius: 2px;
  padding: 10px;
  color: rgba(255, 255, 255, 0.95);
}
.ca_social>a .fa-vk:hover{
  background-color: rgba(74, 114, 151, 0.8);
}
.ca_social>a .fa-instagram:hover{
  background: linear-gradient(-135deg, RGBA(150, 50, 190, 0.8), RGBA(255, 210, 117, 0.8));
}
.ca_social>a .fa-facebook:hover{
  background-color: rgba(34, 72, 216, 0.8);
}
.ca_social>a .fa-twitter:hover{
  background-color: rgba(0, 168, 238, 0.8);
}
@media screen and (max-width: 992px) {
  html, body {
    background-color: rgba(255, 255, 255, 0.95);
  }
  .navbar {
    background-color: rgba(255, 255, 255, 0.95);
  }
}
